body {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
hr {
  border-style:none none none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  height: 0px;
  width: 5%;
}
h1{
    color: royalblue;
}
h2{
    color: #9F0D7F;
}